*.classpath
*.project
*.factorypath
*/target
*/classes
*.settings
*/BD
*.idea
*.log*
target
classes
.idea/vcs.xml
/.idea/vcs.xml
/.metadata/
/.recommenders/
orbtrc*
node_modules
red-hat/~$solução.pptx
red-hat/solucao.asta.lock
*tar.gz
*/blobs
*/expose-image
*/expose-registry
