*.classpath
*.project
*.factorypath
*/target
*/classes
*.settings
*/BD
*.idea
*.log*
target
classes
.idea/vcs.xml
/.idea/vcs.xml
/.metadata/
/.recommenders/
orbtrc*
node_modules
red-hat/~$solução.pptx
red-hat/solucao.asta.lock
*tar.gz
*tgz

288_labs/173/labs/expose-registry/
288_labs/163/labs/external-registry/ubi-sleep/blobs/sha256/
288_labs/189/labs/expose-image/php-info/blobs/

